<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Cuckoo</key>
    <string>YES</string>
    <key>FaceColor</key>
    <string>0.843137 0.843137 1.000000 1.000000</string>
    <key>FaceTransparency</key>
    <real>0.8050848</real>
    <key>FrameColor</key>
    <string>1.000000 1.000000 1.000000 1.000000</string>
    <key>HandsColor</key>
    <string>0.227451 0.227451 0.329412 1.000000</string>
    <key>IncreasesVolume</key>
    <string>NO</string>
    <key>MarksColor</key>
    <string>0.227451 0.227451 0.329412 1.000000</string>
    <key>NumberType</key>
    <string>1</string>
    <key>RefreshRate</key>
    <real>0</real>
    <key>Ring</key>
    <string>NO</string>
    <key>RingLoop</key>
    <string>0</string>
    <key>SecondHandColor</key>
    <string>0.525490 0.525490 0.745098 1.000000</string>
    <key>Shadow</key>
    <string>NO</string>
    <key>ShowsAMPM</key>
    <string>NO</string>
</dict>
</plist>